<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fragmento</title>
    <link rel="Stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>

</head>
<body>
    <div th:fragment="habitacionForm(titulo)" class="container border border-2 w-25">
        <h1 class="text-center" th:text="${titulo}"></h1>
        <form>
            <label class="col-form-label">Capacidad</label>
            <input class="form-control" type="text" id="capacidad"
            name="capacidad" required th:value="${habitacion.capacidad}"/>
            <label class="col-form-label">Costo</label>
            <input class="form-control" type="number" id="costo"
            name="costo" required th:value="${habitacion.costo}"/>
        </form>
    </div>
</body>
</html>