<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Roles</title>
    <link rel="Stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
</head>
<body>
    <div>
        <h1>Lista de roles</h1>
        <table class="table table-hover table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>id</th>
                    <th>rol</th>
                    <th>descripcion</th>
                </tr>
            </thead>
            <th:block th:each="rol:${roles}">
                <tr>
                    <td th:text="${rol.id}"></td>
                    <td th:text="${rol.rol}"></td>
                    <td th:text="${rol.descripcion}"></td>
                    <td>
                        <a th:href="@{roles/{id}/edit(id=${rol.id})}">
                            Editar
                        </a>
                        <a th:ref="@{roles/{id}/delete{id=${rol.id}}}"
                        onclick="return confirm('¿Seguro de borrar el rol?')">
                            Borrar
                        </a>
                    </td>
                </tr>
            </th:block>
        </table>
        <div>
            <a th:ref="@{/}" class="btn btn-primary">Volver atrás</a>
        </div>
    </div>
</body>
</html>