<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servicios</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>

    <div class="container mt-5">
        <h1 class="mb-4 text-center">Servicios</h1>

        <div class="d-grid gap-2">
            <a th:href="@{/piscinas}" class="btn btn-primary">Piscinas</a>
            <a th:href="@{/bares}" class="btn btn-primary">Bares</a>
            <a th:href="@{/lavanderias}" class="btn btn-primary">Lavanderias</a>
            <a th:href="@{/restaurantes}" class="btn btn-primary">Restaurantes</a>
            <a th:href="@{/tiendas}" class="btn btn-primary">Tiendas</a>
            <a th:href="@{/prestamos}" class="btn btn-primary">Prestamos</a>
            <a th:href="@{/alojamientos}" class="btn btn-primary">Alojamientos</a>
            <a th:href="@{/salones}" class="btn btn-primary">Salones</a>
            <a th:href="@{/gimnasios}" class="btn btn-primary">Gimnasios</a>
            <a th:href="@{/spas}" class="btn btn-primary">Spas</a>
            <a th:href="@{/supermercado}" class="btn btn-primary">supermercados</a>
        </div>
                <a th:href="@{/}" class="btn btn-primary mt-4">Volver atrás</a>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-uGTuby/TAl5C++STvDKbbdiPtiPy0awg5E0nKTfI29m/xlvybuPGkFZlMRdO5DCD" crossorigin="anonymous"></script>
</body>
</html>
